<!DOCTYPE html>
<html ng-app="NgApp">
<head>
	<title>Crime Scene-Crowd Sourced</title>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.15&amp;sensor=false&amp;"></script>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<a href="/#">Criminey!</a>
	</header>

<!-- This is needed for angular routing, anything we do that rails doesn't recognize 
	will be given to angular to load tempalates into this view.. how to do multipule 
	views?? -->
	<div ng-view>
		<%= yield %> 
	</div>

	<footer><a href="www.collineargroup.com">Collinear Group</a></footer>

</body>
</html>
